@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Noto+Sans:400,400i,700|Source+Code+Pro&display=swap&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,japanese,latin-ext,vietnamese');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	user-select: none;
}

.PAD {
	font-family: 'Source Code Pro', 'Ubuntu Mono', monospace;
	overflow-x: scroll;
	white-space: nowrap;
}

.tt {
	font-family: 'Source Code Pro', 'Ubuntu Mono', 'Consolas', 'Courier New', Courier, monospace;
}

.pre {
	white-space: pre-wrap;
}

code {
	font-family: 'Source Code Pro', 'Ubuntu Mono', 'Consolas', 'Courier New', Courier, monospace;
	white-space: pre-wrap;
}

.i {
	font-style: italic;
}

.PADTitle::before {
	content: 'TITLE: ';
}

.PADTitle {
	position: relative;
	display: inline-block;

	padding: 1ch 2em;
	margin: 1ch auto;

	border: solid 2px black;
	border-radius: 50%;

	background-color: lavender;
}

/* ブロックパレット */
.BlockPalette {
	position: sticky;
	display: block;

	top: 1ch;

	border: double 3px gray;
	font-size: small;
	z-index: 1000;

	background-color: white;

	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .6));
}
/* ブロックパレットのアイテム */
.BlockPaletteItem {
	position: relative;

	margin: auto 2rem;

	white-space: nowrap;
}

/* 独自右メニューのやつら */
.MigiMenu {
	display: none;
	position: absolute;

	background-color: whitesmoke;

	padding: 1ch 1ch;

	font-size: x-small;

	border: solid 1px gray;
	border-radius: 1ch;
	filter: drop-shadow(2px 2px 1px gray);
}
.MenuItem {
	border-radius: 2px;
	min-width: 8em;
	padding-left: 1ch;
	padding-right: 1ch;
	background-color: none;
	transition: all 150ms ease 0ms;
}
.MenuItem:hover {
	background-color: lightblue;
}

/* ブロック { } の箱 */
.BlkBlk {
	position: relative;
	display: inline-block;

	border-left: double 5px darkred;
	border-radius: 5px;
}

/* ブロックのネストの親 */
.NstBlk {
	position: relative;
	display: inline-block;

	margin: 1ch auto;
}


/* 命令が入る箱 */
.CmdBlk,
.CmdBlk_ {
	position: relative;
	display: inline-block;

	padding: 1ch 2em;
	margin: 1ch auto;

	border: solid 2px black;
	background: lightgoldenrodyellow;
}

/* 前判定ループ？ */
.WhlBlk,
.WhlBlk_ {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin: 1ch auto;
	padding: 1ch 2em;

	border: solid 2px black;
	background: #99FF99 url('../img/while.svg') left repeat-y;
}

/* 後判定ループ？ */
.DowBlk,
.DowBlk_ {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin: 1ch auto;
	padding: 1ch 2em;

	border: solid 2px black;
	background: #9F9 url('../img/while.svg') right repeat-y;
}

/* 条件分岐 */
.IfBlk,
.IfBlk_ {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin: 1ch auto;
	padding: 1ch 2em;

	border: solid 2px black;
	border-right: solid 0px white;
	background: #FCC url('../img/if.svg') right/contain no-repeat;
}

.FncBlk,
.FncBlk_ {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin: 1ch auto;
	padding: 1ch 2em;

	border: solid 2px black;
	background:
		url('../img/while.svg') right repeat-y,
		#9CF url('../img/while.svg') left repeat-y;
}

/* 空箱 */
.EmpBlk {
	position: relative;
	display: inline-block;

	width: 8em;
	height: 1em;

	border: solid 1px darkgray;
}

/* ネストの終わりに入れるだみー */
.DmyBlk {
	position: relative;
	display: none;
}


/* 開始と終了の箱 */
.FlgBlk {
	position: relative;
	display: inline-block;

	padding: 1ch 2em;
	margin: 1ch auto;

	border: solid 2px black;
	border-radius: 2ch;

	background: #CFF;
}

/* コメントの箱 */
.CmtBlk,
.CmtBlk_ {
	position: relative;
	display: inline-block;

	padding: 1ch 1em;
	margin: 1ch auto;

	border: dotted 1px chocolate;

	font-size: small;

	color: green;
}

.CmtBlk::before {
	content: '/* ';
}

.CmtBlk::after {
	content: ' */';
}
